button {
    background: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    text-transform: capitalize;
    color: $white;
    background-image: linear-gradient(to right, $green-color, $blue-color);
    transition: all .3s ease-in-out;
    &:hover {
        opacity: .7;
    }
}