* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-size: $size;
    font-family: $family;
}
h1, h2, h3 {
    font-weight: 700;
    color: $heading-color;
    margin-bottom: 20px;
}
p {
    font-size: 15px;
    font-weight: 300;
    color: $text-color;
    margin-bottom: 20px;
}
a {
    font-size: 16px;
    font-weight: 400;
    color: $text-color;
    text-transform: capitalize;
}