*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header, footer, section, article, nav {
    display: block;
}
html, body {
    height: 100%;
}
body {
    height: 100%;
    font-size: 18px;
    font-family: "Public Sans", sans-serif;
}
/*working with header*/
#page {
    max-width: 1440px;
    width: 800px;
    margin-left: auto;
    margin-right:auto ;
    height: auto;
}
@media screen and (max-width: 375px){
    #page {
        max-width: 375px;
        
    }
}
#page header, #page header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#page header {
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
}
@media screen and (max-width: 375px){
    #page header {
        width: 100%;
        display: block;
        margin: 0;
        padding-top: 10px;
    }
}
/* @media screen and (max-width: 375px){
    #page header nav {
        padding: 20px;
        background-image: url('images/bg-intro-mobile.svg');
        background-position: top right;
    }
} */
#page header .logo {
    width: 100px;
}#page header .logo .toggle {
    display: none;
}
@media screen and (max-width: 375px){
    #page header .logo {
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
#page header .logo img {
    width: 100%;
}
@media screen and (max-width: 375px){
    #page header .logo img {
        width: 30%;
    }
}
@media screen and (max-width: 375px){
    #page header .logo .toggle {
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }
    #page header .logo .toggle button{
        background: none;
        border: none;
        outline: none;
        width: 20px;
        height: 20px;
        text-align: right;
    }
    #page header .logo .toggle button img{
        width: 100%;
        height: 100%;
    }
    #page header .logo .toggle .close {
        display: none;
    }
}
@media screen and (max-width: 375px){
    #page header ul {
        width: 100%;
        display: block;
        margin: 0;
        text-align: center;
        transition: .3s ease;
    }
}
#page header ul li {
    margin-left: 10px;
}
@media screen and (max-width: 375px){
    #page header ul li {
        margin: 0 0 10px 0;

    }
}
#page header ul li a {
    font-size: .7em;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}
#page header ul li:hover a {
    color: hsl(136, 65%, 51%);
}
#page header .button button,
#page #main-section .head-section .info button,
footer .right button {
    border: none;
    outline: none;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding: 5px 10px;
    border-radius: 10px;
    line-height: 10px;
}
@media screen and (max-width:375px){
    #page header .button button {
        display: none;
    }
}
#page header .button button:hover,
#page #main-section .head-section .info button:hover,
footer .right button:hover {
    background: linear-gradient(to right, hsl(136, 65%, 51%) 20%, hsl(192, 70%, 51%) 80%);
}
#page header .button button a,
#page #main-section .head-section .info button a,
footer .right button a {
    font-size: .6em;
    color: hsl(0, 0%, 100%);
    font-weight: 300;
}
/*end of header*/
/*main section*/

#page #main-section .head-section {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    justify-content: space-around;
    background-image: url('images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position: -40% 30%;
}
@media screen and (max-width:375px){
    #page #main-section .head-section {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        background-image: url('images/bg-intro-mobile.svg');
        background-position: top left;
        width: 100%;
    }
    #page #main-section .head-section .info {
        -moz-box-ordinal-group: 2;
        -webkit-box-ordinal-group: 2;
        width: 100%;
        text-align: center;
    }
    #page #main-section .head-section .image {
        -moz-box-ordinal-group: 1;
        -webkit-box-ordinal-group: 1;
        width: 100%;
    }  
}

#page #main-section .head-section  > div {
    width: 200px;
}

#page #main-section .head-section .info {
    padding: 20px; 
}
#page #main-section .head-section .info h1 {
    font-size: 1em;
    color: hsl(233, 26%, 24%);
    margin-bottom: 10px;
    font-weight: 700;
}
#page #main-section .head-section .info p,
#page #main-section .midle p,
#page #main-section .midle .why-container div p {
    font-size: .6em;
    color: hsl(233, 8%, 62%);
    font-weight: 300;
    margin-bottom: 10px;
}
#page #main-section .head-section .image img{
    width: 100%;
    height: 120%;

}

#page #main-section .midle {
    background-color: hsl(220, 16%, 96%);
    padding: 20px 104px;
    
}

@media screen and (max-width:375px){
    #page #main-section .midle {
        padding: 15px;
        width: 100%;
        
        text-align: center;
    }
}

#page #main-section .midle h2 {
    font-size: .8em;
    font-weight: 700;
    color: hsl(233, 26%, 24%);
    margin-bottom: 10px;
}
#page #main-section .midle p {
    width: 50%;
    margin-bottom: 15px;
}
@media screen and (max-width:375px){
    #page #main-section .midle p {
        text-align: center;
        width: 100%;
    }
}


#page #main-section .midle .why-container {
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width:375px){
    #page #main-section .midle .why-container {
        width: 100%;
        display: block;
    }
}

#page #main-section .midle .why-container div img {
    width: 30px;
    height: 30px;
}
#page #main-section .midle .why-container div h3,
#page #main-section .gallery-container h3 {
    margin-top: 10px;
    font-size: .7em;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    margin-bottom: 10px;
}
#page #main-section .midle .why-container div p {
    width: 90%;
}
#page #main-section .gallery-container {
    background-color: hsl(0, 0%, 98%);
    padding: 20px 104px;

}

@media screen and (max-width:375px){
    #page #main-section .gallery-container {
        width: 100%;
        text-align: left;
        padding: 15px;
    }
}


#page #main-section .gallery-container h3 {
    margin-top: 0;
}
#page #main-section .gallery-container .gallery {
    display: flex;
    justify-content: space-around;

}
@media screen and (max-width:375px){
    #page #main-section .gallery-container .gallery {
        width: 100%;
        display: block;
    }
}

#page #main-section .gallery-container .gallery > div {
    margin-right: 10px;
}
@media screen and (max-width:375px){
    #page #main-section .gallery-container .gallery > div {
        margin: 10px;
        padding: 10px;
        width: 100%;
        background-color: hsl(0, 0%, 100%);
    }
}
#page #main-section .gallery-container .gallery > div:last-child {
    margin-right: 0;
}
#page #main-section .gallery-container .gallery > div img {
    width: 100%;
    height: 100px;
}
@media screen and (max-width:375px){
    #page #main-section .gallery-container .gallery > div img {
        width: 80%;
        height: 150px;
        display: inline-block;
        margin-left: -10px;
        margin-top: -10px;
    }
}


#page #main-section .gallery-container .gallery > div p,
footer .right p {
    font-size: .5em;
    color: hsl(233, 8%, 62%);
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}
#page #main-section .gallery-container .gallery > div h2 {
    color: hsl(233, 26%, 24%);
    font-size: .55em;
    font-weight: 700;
}
footer {
    background-color: hsl(233, 26%, 24%);
    padding: 14px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width:375px){
    footer {
        padding: 15px;
        display: block;
    }
}
@media screen and (max-width:375px){
    footer .left .logo {
        text-align: center;
    }
}

footer .left .social {
    text-align: center;
}
footer .left .social a {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}
footer .left .social a i {
    display: block;
    color: hsl(0, 0%, 100%);
    font-size: .7em;
}
footer .left .social a:hover i {
    color: hsl(136, 65%, 51%);
}
footer .links ul {
    display: flex;
    justify-content: start;
    align-items: center;
}
@media screen and (max-width:375px){
    footer .links ul {
        width: 100%;
        text-align: center;
        display: block;
    }
}

footer .links ul > div {
    margin-right: 10px;
}


footer .links ul li a {
    font-size: .5em;
    color: hsl(0, 0%, 98%);
    font-weight: 300;
}
footer .links ul li:hover a {
    color: hsl(136, 65%, 51%);
}
footer .right {
    text-align: right;
}
@media screen and (max-width:375px){
    footer .right {
        text-align: center;
    }
}

footer .right button {
    margin-bottom: 10px;
}
@media screen and (max-width:375px){
    footer .right button{
        margin: 10px 0 0 0;
    }
}

footer .right p {
    text-align: right;
}
@media screen and (max-width:375px){
    footer .right p{
        text-align: center;
    }
}
 

/*i get topoint where i have to fix small screen width*/









.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }